<!-- Sidebar Content -->
<ng-template #sideBarTemplate let-data>
  <ul>
    <li *ngFor="let item of data" (click)="selectMainNav(item)">{{ item }}</li>
  </ul>
</ng-template>

<ng-template #subSideBarTemplate let-data>
  <ul class="sub-sidebar">
    <li *ngFor="let item of data" (click)="selectSub(item)">{{ item }}</li>
  </ul>
</ng-template>

<!-- SideBar Component -->
<div class="sidebar">
  <app-side-bar
    [mainNavTemplate]="sideBarTemplate"
    [mainNavItems]="mainNavMenu"
  ></app-side-bar>
  <app-side-bar
    [subNavTemplate]="subSideBarTemplate"
    [subNavItems]="subNavMenu"
  ></app-side-bar>
</div>
<div class="content">
	<p>{{mainSelected}} Bundles</p>
	<p>{{subSelected}} 	</p>
</div>


